/.idea/
**/target/
**/venv/
**/local/inputs.conf
**/metadata/local.meta
**/lookups/lookup_file_backups

/*.iml
**/.idea
*/target
*/test_files
*/*.iml
**/*.tar.gz
**/*.zip
**/*.pyc
**/*.pyo
**/*.log
**/*.bak
**/*.retry
pom.xml.releaseBackup
release.properties
**/main.retry
**/.directory
**/.terraform*
**/terraform.tfstate*
**/*.tfstate*
**/.vscode
